[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[dev-packages]
flake8 = "==3.7.9"
black = "==19.10b0"
pytest = "==5.4.1"
moto = "==1.3.14"
requests-mock = "==1.7.0"
aws-sam-cli = "*"

[packages]
trustar = "==0.3.29"

[requires]
python_version = "3.7.7"

[pipenv]
allow_prereleases = true